{% load static menu_cat_tags %}
{% load cache %}

 <div class="header__bottom bg__primary">
            <div class="container">
                <div class="header__bottom--inner position__relative d-flex align-items-center">
                    <div class="categories__menu mobile-v-none">
                        <div class="categories__menu--header bg__secondary text-white d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#categoriesAccordion">
                            <svg class="categories__list--icon" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="13" height="1.5" fill="currentColor"/>
                                <rect y="4.44434" width="18" height="1.5" fill="currentColor"/>
                                <rect y="8.88892" width="15" height="1.5" fill="currentColor"/>
                                <rect y="13.3333" width="17" height="1.5" fill="currentColor"/>
                                </svg>

                            
                            <span class="categories__menu--title">Выберете</span>
                            <svg class="categories__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
                                <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"/>
                            </svg>
                        </div>
                        <div class="dropdown__categories--menu border-radi-5 active collapse
                            {% if title ==  'SaleMagaz - Главная' %}
                        	show
                            {% endif %}" id="categoriesAccordion">
                            <ul class="d-none d-lg-block">
                            {% cache 2 catalog_categories %}
                            {% menu_cat as categories %}
                                {% for cat in categories.items %}
                                    <li class="categories__menu--items">

                                        {% if cat.1.children %}
{#                                            <svg class="categories__menu--svgicon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>#}
                                           <a class="categories__menu--link" href="#">
                                            <svg class="categories__menu--svgicon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" > </svg>
                                            {{ cat.1.name|cut:"{'"|cut:"'}" }}
                                        <svg class="categories__menu--right__arrow--icon" xmlns="http://www.w3.org/2000/svg" width="17.007" height="16.831" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
                                            </a>

                                        <ul class="categories__submenu border-radi-10 d-flex jtify-content-between">
                                            {% for children1 in cat.1.children.items %}
                                                <li class="categories__submenu--items">
                                                {% if children1.1.children %}

                                                    <strong class="categories__submenu--items__text">{{ children1.1.name }}</strong>
                                                    <ul class="categories__submenu--child">
                                                        {% for children2 in children1.1.children.items %}
                                                            <li class="categories__submenu--child__items">
                                                                <a class="categories__submenu--child__items--link" href="{% url 'catalog:index' children2.0 %}">
                                                                {{ children2.1.name }} id {{ children2.0 }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <a class="categories__submenu--items__text" href="{% url 'catalog:index' children1.0 %}">
                                                    <strong>{{ children1.1.name }} id {{ children1.0 }}</strong></a>
                                                {% endif %}
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <a class="categories__menu--link" href="{% url 'catalog:index' cat.0 %}">
                                            {{ cat.1.name|cut:"{'"|cut:"'}" }}
                                        </a>
                                        {% endif %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% endcache %}


                            </ul>
                        </div>
                    </div>
                <!-- Меню для мобилок-->
                    <div class="categories__menu mobile-v-block">
                        <div class="categories__menu--header bg__secondary text-white d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#categoriesAccordion2">
                            <svg class="categories__list--icon" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="13" height="1.5" fill="currentColor"/>
                                <rect y="4.44434" width="18" height="1.5" fill="currentColor"/>
                                <rect y="8.88892" width="15" height="1.5" fill="currentColor"/>
                                <rect y="13.3333" width="17" height="1.5" fill="currentColor"/>
                                </svg>

                            <span class="categories__menu--title">Select catagories</span>
                            <svg class="categories__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
                                <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"/>
                            </svg>
                        </div>
                        <div class="dropdown__categories--menu border-radi-5 active collapse"
                            {% if title ==  'SaleMagaz - Главная' %}
                                show
                            {% endif %}" id="categoriesAccordion2">

                            <nav class="category__mobile--menu">
                                <ul class="category__mobile--menu_ul">
                                    {% cache 2 catalog_categories %}
                                     {% menu_cat as categories %}
                                         {% for cat in categories.items %}
                                    <li class="categories__menu--items">

                                        {% if cat.1.children %}
{#                                            <svg class="categories__menu--svgicon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>#}
                                           <a class="categories__menu--link" href="#">
                                            <svg class="categories__menu--svgicon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" > </svg>
                                            {{ cat.1.name|cut:"{'"|cut:"'}" }}
                                        <svg class="categories__menu--right__arrow--icon" xmlns="http://www.w3.org/2000/svg" width="17.007" height="16.831" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
                                            </a>

                                        <ul class="categories__submenu border-radi-10 d-flex jtify-content-between">
                                            {% for children1 in cat.1.children.items %}
                                                <li class="categories__submenu--items">
                                                {% if children1.1.children %}

                                                    <strong class="categories__submenu--items__text">{{ children1.1.name }}</strong>
                                                    <ul class="categories__submenu--child">
                                                        {% for children2 in children1.1.children.items %}
                                                            <li class="categories__submenu--child__items">
                                                                <a class="categories__submenu--child__items--link" href="{% url 'catalog:index' children2.0 %}">
                                                                {{ children2.1.name }} id {{ children2.0 }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <a class="categories__submenu--items__text" href="{% url 'catalog:index' children1.0 %}">
                                                    <strong>{{ children1.1.name }} id {{ children1.0 }}</strong></a>
                                                {% endif %}
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <a class="categories__menu--link" href="{% url 'catalog:index' cat.0 %}">
                                            {{ cat.1.name|cut:"{'"|cut:"'}" }}
                                        </a>
                                        {% endif %}
                                        </ul>
                                    </li>
                                {% endfor %}
                                    {% endcache %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header__right--area d-flex jtify-content-between align-items-center">
                        <div class="header__menu">
                            <nav class="header__menu--navigation">
                                <ul class="header__menu--wrapper d-flex">

                                    <a class="header__menu--link text-white active" href="{% url 'main:index' %}">На главную
                                    </a>

                                    <li class="header__menu--items mega__menu--items">
                                        <a class="header__menu--link text-white" href="{% url 'catalog:index' %}">Shop
                                            <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12" height="7.41" viewBox="0 0 12 7.41">
                                                <path  d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="header__menu--items">
                                        <a class="header__menu--link text-white" href="{% url 'catalog:index' %}">Accesories </a>
                                    </li>
                                    <li class="header__menu--items">
                                        <a class="header__menu--link text-white" href="#">Pages
                                            <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12" height="7.41" viewBox="0 0 12 7.41">
                                                <path  d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                                            </svg>
                                        </a>
                                        <ul class="header__sub--menu">
                                            <li class="header__sub--menu__items"><a href="{% url 'main:about' %}" class="header__sub--menu__link">About8</a></li>
                                            <li class="header__sub--menu__items"><a href="{% url 'main:contact' %}" class="header__sub--menu__link">Контакты </a></li>
                                            <li class="header__sub--menu__items"><a href="{% url 'user:user_cart' %}" class="header__sub--menu__link">Cart Page</a></li>
                                            <li class="header__sub--menu__items"><a href="{% url 'user:login' %}" class="header__sub--menu__link">Login Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="header__menu--items">
                                        <a class="header__menu--link text-white" href="{% url 'main:contact' %}">Контакты </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>