{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}


{% block content %}

    <main class="main__content_wrapper">

        <!-- Start login section  -->
        <div class="login__section section--padding">
            <div class="container">
                    <div class="login__section--inner">
                        <div class="row row-cols-md-2 row-cols-1">
                            <!-- Логин Вход  -->

                            <form action="{% url "user:login" %}" method="post">
                                {% csrf_token %}
                                {% if request.GET.next %}
                                	<input type="hidden" name="next" value="{{ request.GET.next }}">
                                {% endif %}
                            <div class="col">
                                <div class="account__login">
                                    <div class="account__login--header mb-25">
                                        <h2 class="account__login--header__title mb-10">Login</h2>
                                        <p class="account__login--header__desc">Login if you area a returning customer.</p>
                                    </div>
                                    <div class="account__login--inner">
                                        <label for="{{ form.username.id_for_label }}">
                                            <input class="account__login--input" name="username"
                                                   value="{% if form.username.value %}{{ form.username.value }}{% endif %}" placeholder="Email Addres">
                                        </label>
                                        <label for="{{ form.password.id_for_label }}">
                                            <input class="account__login--input" name="password" placeholder="Password" type="password">
                                        </label>
                                        <div class="account__login--remember__forgot mb-15 d-flex justify-content-between align-items-center">
                                            <div class="account__login--remember position__relative">
                                                <input class="checkout__checkbox--input" id="check1" type="checkbox">
                                                <span class="checkout__checkbox--checkmark"></span>
                                                <label class="checkout__checkbox--label login__remember--label" for="check1">
                                                    Remember me</label>
                                            </div>
                                            <button class="account__login--forgot"  type="submit">Forgot Your Password?</button>
                                        </div>
                                        <button class="account__login--btn primary__btn" type="submit">Login</button>
                                        <div class="account__login--divide">
                                            <span class="account__login--divide__text">OR</span>
                                        </div>
                                        <div class="account__social d-flex justify-content-center mb-15">
                                            <a class="account__social--link facebook" target="_blank" href="https://www.facebook.com">Facebook</a>
                                            <a class="account__social--link google" target="_blank" href="https://www.google.com">Google</a>
                                            <a class="account__social--link twitter" target="_blank" href="https://twitter.com">Twitter</a>
                                        </div>
                                        <p class="account__login--signup__text">Don,t Have an Account? <button type="submit">Sign up now</button></p>
                                    </div>
                                </div>
                            </div>
                            </form>
                            <!-- Регистрация -->
                            <form action="{% url "user:registration" %}" method="post">
                                {% csrf_token %}
                            <div class="col">
                                <div class="account__login register">
                                    <div class="account__login--header mb-25">
                                        <h2 class="account__login--header__title mb-10">Create an Account</h2>
                                        <p class="account__login--header__desc">Register here if you are a new customer</p>
                                    </div>
                                    <div class="account__login--inner">
                                            {% if form.first_name.errors %}
                                                <div class="alert alert-danger alert-dismissible fabe show custom-shadow" role="alert">
                                                    {{ form.first_name.errors }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            {% endif %}
                                        <label >Имя</label>
                                            <input class="account__login--input"
                                                   value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                                   name="first_name" placeholder="Имя" type="text">
                                            {% if form.last_name.errors %}
                                                <div class="alert alert-danger alert-dismissible fabe show custom-shadow" role="alert">
                                                    {{ form.last_name.errors }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            {% endif %}
                                        <label>
                                            <input class="account__login--input"
                                                   value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                                   name="last_name" placeholder="Фамилия" type="text">
                                        </label>
                                            {% if form.username.errors %}
                                                <div class="alert alert-danger alert-dismissible fabe show custom-shadow" role="alert">
                                                    {{ form.username.errors }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            {% endif %}
                                        <label>
                                            <input class="account__login--input"
                                                   value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                                   name="username" placeholder="Username" type="text">
                                        </label>
                                            {% if form.email.errors %}
                                                <div class="alert alert-danger alert-dismissible fabe show custom-shadow" role="alert">
                                                    {{ form.email.errors }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            {% endif %}
                                        <label>
                                            <input class="account__login--input"
                                                   value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                                   name="email" placeholder="Email Addres" type="email">
                                        </label>
                                            {% if form.password1.errors %}
                                                <div class="alert alert-danger alert-dismissible fabe show custom-shadow" role="alert">
                                                    {{ form.password1.errors }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            {% endif %}
                                        <label>
                                            <input class="account__login--input"
                                                   value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                                                   name="password1" placeholder="Password" type="password">
                                        </label>
                                            {% if form.password2.errors %}
                                                <div class="alert alert-danger alert-dismissible fabe show custom-shadow" role="alert">
                                                    {{ form.password2.errors }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            {% endif %}
                                        <label>
                                            <input class="account__login--input"
                                                   value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                                                   name="password2" placeholder="Confirm Password" type="password">
                                        </label>
                                        <button class="account__login--btn primary__btn mb-10" type="submit">Submit & Register</button>
                                        <div class="account__login--remember position__relative">
                                            <input class="checkout__checkbox--input" id="check2" type="checkbox">
                                            <span class="checkout__checkbox--checkmark"></span>
                                            <label class="checkout__checkbox--label login__remember--label" for="check2">
                                                I have read and agree to the terms & conditions</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
        <!-- End login section  -->

        <!-- Start shipping section -->
        <section class="shipping__section">
            <div class="container">
                <div class="shipping__inner style2 d-flex">
                    <div class="shipping__items style2 d-flex align-items-center">
                        <div class="shipping__icon">  
                            <img src="{% static "img/other/shipping1.webp" %}" alt="icon-img">
                        </div>
                        <div class="shipping__content">
                            <h2 class="shipping__content--title h3">Free Shipping</h2>
                            <p class="shipping__content--desc">Free shipping over $100</p>
                        </div>
                    </div>
                    <div class="shipping__items style2 d-flex align-items-center">
                        <div class="shipping__icon">  
                            <img src="{% static "img/other/shipping2.webp" %}" alt="icon-img">
                        </div>
                        <div class="shipping__content">
                            <h2 class="shipping__content--title h3">Support 24/7</h2>
                            <p class="shipping__content--desc">Contact us 24 hours a day</p>
                        </div>
                    </div>
                    <div class="shipping__items style2 d-flex align-items-center">
                        <div class="shipping__icon">  
                            <img src="{% static "img/other/shipping3.webp" %}" alt="icon-img">
                        </div>
                        <div class="shipping__content">
                            <h2 class="shipping__content--title h3">100% Money Back</h2>
                            <p class="shipping__content--desc">You have 30 days to Return</p>
                        </div>
                    </div>
                    <div class="shipping__items style2 d-flex align-items-center">
                        <div class="shipping__icon">  
                            <img src="{% static "img/other/shipping4.webp" %}" alt="icon-img">
                        </div>
                        <div class="shipping__content">
                            <h2 class="shipping__content--title h3">Payment Secure</h2>
                            <p class="shipping__content--desc">We ensure secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End shipping section -->

    </main>

{% endblock %}